
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body { 
  font-family: 'Open Sans', sans-serif;
  font-weight: 'regular';
}

h1 {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 3.625em;
  text-align: center;
  margin-top: 268px;
}

img {
  height: 65px;
}

.wrapper {
  display: grid;
  grid-template-columns: 52.2% 47.8%;
  grid-template-rows: 206px 206px 206px 206px;
  grid-gap: 1.688em;
}

.link-input {
  grid-row: 1/5;
  background-color: #455A64;
}

.link-one,
.link-two,
.link-three,
.link-four {
border: 2px solid #607D8B;
padding: 10px;

}

#Title-card-one {
  color: #455A64;
  font-size: 2.2em;
  border-bottom:2px solid #CFD8DC;
  margin: 10px;
  padding-bottom: 10px;
 /* font-weight: 800;*/
}

#Url-card-one {
  color: #607D8B;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  border-bottom: 2px solid #CFD8DC;
  font-size: 1.5em;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: 400;
}

#Url-card-one:hover, .read-btn-one:hover, .delete-btn-one:hover {
  text-decoration-color: #FFC107;
  color: #455A64;


}

.read-btn-one {
  color: #455A64;
  border: 0;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  font-size: 1.3em;
  margin: 5px;



}

.delete-btn-one {
  color: #455A64;
  border: 0;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  font-size: 1.3em;
  float: right;
  margin: 5px;

}

.web-title,
.web-url {
  height: 3.688rem;
  width: 35.000rem;
  display: block;
  margin: 0px auto;
}

.web-url {
  margin-top: 68px;
}

::placeholder {
  font-size: 2em;
  color: #c2c0c4;
}

.enter-btn {
  display: block;
  background-color: #FFC107;
  color: #FFFFFF;
  height: 3.125rem;
  width: 34.813rem;
  font-size: 2em;
  margin: 68px auto;
}

